DATABASE_URL=mysql://root:@localhost:3306/fileshare
SESSION_SECRET=devsecret123
IP_SALT=devsalt
FRONTEND_URL=http://192.168.0.32:3000
PUBLIC_URL=http://192.168.0.32:3000
UPLOAD_DIR=./uploads
MAX_FILE_SIZE_MB=50
ADMIN_USER=admin
ADMIN_PASS=admin1234
NODE_ENV=development
PORT=4000